{% extends 'app/admin_template.html' %}

{% block usuario %}
{% if session['loggedin'] %}
 <!-- Sidebar -->
 <div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
      <a href="#" class="d-block">Bienvenido {{ session['nombre'] }}</a>
    </div>
  </div>
  {% endif %}
{% endblock usuario %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"> Modulo Atencion </h1> 
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content"> 
  {% with messages = get_flashed_messages() %}
  {% if messages  %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}     

      <div class="container-fluid">      
          <!-- Comprobador DNI-->
          <div class="row">
              <div class="col-md-3">  
                <form class="form-horizontal" action="{{ url_for('admin_bp.admin_dni_atencion') }}" method="get">
                  <input type="text" class="form-control" name="dni" size="10" placeholder="NRO DNI">
                  <button type="submit" class="btn btn-block btn-success btn-sm">Comprobar DNI</button>-
                </form>
              </div>              
          </div>
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Nuevo Atencion </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <form class="form-horizontal"  action="{{ url_for('admin_bp.admin_atencion') }}" method="post" >
                  {{ form_atencion.csrf_token }}
                  <div class="card-body">
                    <div class="form-group row">
                      {% if diccionario is defined %} 
                      {{form_atencion.id_cliente(value=diccionario.id_cliente)}}
                      {% endif %}
                    <label for="dni" class="col-sm-3 col-form-label" >DNI</label>
                      <div class="col-sm-8">
                        {% if diccionario is defined %}
                        <label for="dni" class="col-sm-10 col-form-label" >{{diccionario.dni}}</label>
                        {% else %}
                        <label for="dni" class="col-sm-10 col-form-label" > - </label>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="nombre" class="col-sm-3 col-form-label" >Nombre</label>
                      <div class="col-sm-8">
                        {% if diccionario is defined %}
                        <label for="nombre" class="col-sm-10 col-form-label" >{{diccionario.nombre}}</label>
                        {% else %}
                        <label for="nombre" class="col-sm-10 col-form-label" > - </label>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="apellido" class="col-sm-3 col-form-label" >Apellido</label>
                      <div class="col-sm-8">
                        {% if diccionario is defined %}
                        <label for="apellidos" class="col-sm-10 col-form-label" >{{diccionario.apellidos}}</label>
                        {% else %}
                        <label for="apellidos" class="col-sm-10 col-form-label" > - </label>
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="atendido_por" class="col-sm-3 col-form-label" >Atendido Por</label>
                      <div class="col-sm-7">
                        {{ form_atencion.atendido_por(class_="form-control")}}
                      </div>
                    </div> 
                    <div class="form-group row">
                      <label for="mascota" class="col-sm-3 col-form-label" >Mascota</label>
                      <div class="col-sm-7">
                        {{ form_atencion.mascota(class_="form-control")}}
                      </div>
                    </div> 
                    <div class="form-group row">
                      <label for="sintomas" class="col-sm-3 col-form-label" >Sintomas</label>
                      <div class="col-sm-7">
                        {{ form_atencion.sintomas(class_="form-control" , rows=3) }}
                        {% for error in form_atencion.sintomas.errors %}
                        <span style="color: red;">{{ error }}</span>
                         {% endfor %}                        
                      </div>
                    </div>      
                    <div class="form-group row">
                      <label for="informe" class="col-sm-3 col-form-label" >Informe</label>
                      <div class="col-sm-7">
                        {{ form_atencion.informe(class_="form-control" , rows=3) }}
                        {% for error in form_atencion.informe.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}                                         
                      </div>
                    </div>    
                    <div class="form-group row">
                      <label for="receta" class="col-sm-3 col-form-label" >Receta</label>
                      <div class="col-sm-7">
                        {{ form_atencion.receta(class_="form-control" , rows=3) }}
                        {% for error in form_atencion.receta.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}                                         
                      </div>
                    </div>  
                    <div class="form-group row">
                      <label for="observaciones" class="col-sm-3 col-form-label" >Observaciones</label>
                      <div class="col-sm-7">
                        {{ form_atencion.observaciones(class_="form-control" , rows=3) }}
                        {% for error in form_atencion.observaciones.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}                                         
                      </div>
                    </div>         
                   <!-- /.card-body -->
                   <div class="card-footer">
                     {% if form_atencion.errors %}
                      {{ form_atencion.errors }}
                      {% endif %}
                     {% if diccionario is defined %}
                    <button type="submit" class="btn btn-primary">Nueva Atencion </button>
                    {% endif %}
                  </div>
                </form>
              </div>
                <!-- /.card -->            
          </div> 
         </div>
    </section>
    
<!-- /.content -->
  <!-- /.content-wrapper -->
  {% endblock %}