{% extends 'app/admin_template.html' %}

{% block usuario %}
{% if session['loggedin'] %}
 <!-- Sidebar -->
 <div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
      <a href="#" class="d-block">Bienvenido {{ session['nombre'] }}</a>
    </div>
  </div>
  {% endif %}
{% endblock usuario %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> Añadir Items a la Atencion COD{{id_atencion}}  -  <a href="/admin_atencion">Volver</a></h1> 
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content"> 
        {% with messages = get_flashed_messages() %}
		{% if messages  %}
		{% for message in messages %}
		  <div class="alert alert-success alert-dismissible fade show" role="alert">
		  {{ message }}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}     

        <div class="container-fluid">     
            
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Cliente : </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Items</th>
                                <th>Cant</th>
                                <th>Precio U.</th>
                                <th>SubT</th>
                                <th>Accion</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% if datos %}
                                {% for dato in datos %}
                               <tr>
                                   <td> {{ dato.nombre}} </td>
                                   <td> {{ dato.cantidad }} </td>
                                   <td> {{ dato.precio_unitario }} </td>
                                   <td> {{ dato.subtotal }} </td>
                                   <td><a href="/eliminar_atenciondetalle/{{dato.idatenciondetalle}}">Eliminar</a>  </td>
                               </tr>                          
                               {% endfor %} 
                               <tr>
                                <th colspan="3">Total : {{ total }} </th>
                              </tr>
                               {% endif %}
                              </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                </div>      
            </div>

            <div class="row">
              <!-- left column -->
              <div class="custom-control custom-radio" class="col-sm-5">
                <input class="custom-control-input" id="servicio" type="radio"  value="servicio" onclick="servicio(this);"  name="customRadio" style="margin:10px" checked>
                <label for="servicio" class="custom-control-label">Servicio</label>
              </div>
              <br>

  
              <div class="custom-control custom-radio" class="col-sm-5">
                <input class="custom-control-input" id="producto" type="radio" value="producto"  onclick="producto(this);" name="customRadio" >
                <label for="producto" class="custom-control-label">Producto</label> 
              </div>

              <br>
              
              <div class="custom-control custom-radio" class="col-sm-5">
                <input class="custom-control-input" id="otros" type="radio"  value="otros" onclick="otros(this);" name="customRadio" >
                <label for="otros" class="custom-control-label">Otros</label>
              </div>
            </div>
            <br>
            </div>
            
          <div class="row">
            <div class="col-md-5">
            <div class="form-servicio">
              <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Agregar Servicio</h3>
              </div>
              <div class="card-body"> 
              <form  action="{{ url_for('admin_bp.admin_atenciondetalleadd') }}" method="post">
                {{ form_servicio.csrf_token }}
                {{ form_servicio.nombre2 }}
                {{ form_servicio.idatencion(value=id_atencion) }}
                <div class="form-group row">
                  <label for="dni" class="col-md-3">Servicio</label>
                  <div class="col-md-9">
                   
                  {{form_servicio.precio( class_="form-control" ,id="precio" , onchange="val()" )}}
                </div>
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3" >Precio</label>   
                  <div class="col-md-4">
                  {{ form_servicio.nombre(class_="form-control" , id="nombre" , readonly=True) }} 
                   </div>          
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3"> Cantidad </label>   
                <div class="col-md-4">       
                  {{ form_servicio.cantidad(class_="form-control") }}
                </div>               
              </div>

              <div class="card-footer">

                    <button type="submit" class="btn btn-primary"> Agregar </button>
                </div>
                </form>
                </div>
            </div>
          </div>
          <div class="form-producto" style="display: none">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Agregar Producto</h3>
              </div>
              <div class="card-body"> 
                <form  action="{{ url_for('admin_bp.admin_atenciondetalleprod') }}" method="post">
                {{ form_producto.csrf_token }}
                {{ form_producto.nombre2_producto }}
                {{ form_producto.idatencion_producto(value=id_atencion) }}
                <div class="form-group row">
                  <label for="dni" class="col-md-3">Producto</label>
                  <div class="col-md-9">
                  {{form_producto.precio_producto(class_="form-control" , id="precio_producto" , onchange="val_productos()")}}
                </div>
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3" >Precio</label>   
                  <div class="col-md-4">
                  {{ form_producto.nombre_producto(class_="form-control" , id="nombre_producto" , readonly=True) }} 
                   </div>          
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3" >Cantidad</label>   
                <div class="col-md-4">       
                  {{ form_producto.cantidad_producto(class_="form-control") }}
                </div>
              </div>
              <div class="card-footer">
                    <button type="submit" class="btn btn-primary"> Agregar Producto </button>
                </div>
                </form>
            </div>
          </div>
          </div>
          <div class="form-otros" style="display: none">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Otros</h3>
              </div>
              <div class="card-body"> 
                <form  action="{{ url_for('admin_bp.admin_atenciondetalleotro') }}" method="post">
                {{ form_otro.csrf_token }}
                {{ form_otro.idatencion_otro(value=id_atencion) }}
                <div class="form-group row">
                  <label for="dni" class="col-md-3"> Item </label>
                  <div class="col-md-9">
                  {{form_otro.otro(class_="form-control" )}}
                </div>
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3" >Precio U.</label>   
                  <div class="col-md-4">
                    {{form_otro.precio(class_="form-control" )}}
                  </div>          
                </div>
                <div class="form-group row">
                  <label for="dni" class="col-md-3" >Cantidad</label>   
                <div class="col-md-4">       
                    {{form_otro.cantidad(class_="form-control" )}}
                </div>
              </div>

              <div class="card-footer">
                    <button type="submit" class="btn btn-primary"> Agregar Item </button>
                </div>
                </form>
              </div>
            </div>
          </div> 
        </div>
          </div>       
          
    </div>
    </section>

<script type="text/javascript" >

function producto(myRadio)
{
  $('.form-producto').show()
  $('.form-servicio').hide()
  $('.form-otros').hide()
}

function servicio(myRadio)
{
  $('.form-producto').hide()
  $('.form-servicio').show()
  $('.form-otros').hide()
}

function otros(myRadio)
{
  $('.form-producto').hide()
  $('.form-servicio').hide()
  $('.form-otros').show()
}

function val() {
  d = document.getElementById("precio").value;
  var seleccion = document.getElementById("precio");
  document.getElementById("nombre").value=d;
  texto = seleccion.options[seleccion.selectedIndex].text;
  document.getElementById("nombre2").value=texto;
}

function val_productos() {
  d = document.getElementById("precio_producto").value;
  var seleccion = document.getElementById("precio_producto");
  document.getElementById("nombre_producto").value=d;
  texto = seleccion.options[seleccion.selectedIndex].text;
  document.getElementById("nombre2_producto").value=texto;
}


    </script>


<!-- /.content -->
  <!-- /.content-wrapper -->
  {% endblock %}