{% extends 'app/anon_template.html' %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Nosotros</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Iniciar Sesion</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Cabecera -->
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="form-group row">
            <div class="col-md-3">
              <img src="{{ url_for('static', filename='app/dist/img/logo.png') }} " alt="user-avatar" class="img-circle img-fluid">
          </div>
          <div class="col-md-5">
            <img src="{{ url_for('static', filename='app/dist/img/top.png') }} " alt="user-avatar" class="img-circle img-fluid">
        </div>
        </div>
        </div>

        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Nuestros Afiliados</h1>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
            <!--Espacio que se repetira en cada FOR-->
            {% for dato in datos %}
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                <div class="card bg-light">
                  <div class="card-header text-muted border-bottom-0">
                    Veterinaria : 
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead"><b>{{ dato.nombre }}</b></h2>
                        <p class="text-muted text-sm"><b> </b> {{ dato.ciudad }} </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion : {{ dato.direccion }} , {{ dato.distrito }}</li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: {{ dato.telefono }}</li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                          {% if dato.logo %}
                        <img src="{{ url_for('static', filename='imagenes/'+ dato.logo ) }} " alt="user-avatar" class="img-circle img-fluid">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="user-avatar" class="img-circle img-fluid">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-right">
                      <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                      </a>
                      <a href="/{{dato.nombre_unico}}" class="btn btn-sm btn-primary">
                        <i class="fas fa-user"></i> Perfil
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>
    </section>
</div>


{% endblock %}