{% extends 'app/anon_template.html' %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Veterinaria : {{datos.nombre}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/login_usuario">Iniciar Sesion</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  {% if datos.logo %}
                  <img class="profile-user-img img-fluid img-circle" src="{{ url_for('static', filename='imagenes/'+ datos.logo ) }}" alt="User profile picture">
                  {% else %}
                  <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="user-avatar" class="img-circle img-fluid">
                  {% endif %}
                </div>

                <h3 class="profile-username text-center"> {{ datos.nombre }} </h3>

                <p class="text-muted text-center">Clinica Veterinaria</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Productos</b> <a class="float-right">Si</a>
                  </li>
                  <li class="list-group-item">
                    <b>Servicios</b> <a class="float-right">Si</a>
                  </li>
                  <li class="list-group-item">
                    <b>Ventas</b> <a class="float-right">Si</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Facebook</b></a>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Nosotros</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Direccion </strong>

                <p class="text-muted">
                  {{ datos.direccion }}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Ciudad </strong>

                <p class="text-muted">{{ datos.ciudad }} , {{ datos.distrito }}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Colaboradores </strong>

                <p class="text-muted">
                    {% for empleado in empleados %}
                  <span class="tag tag-danger"> {{empleado.nombre}} </span> <br>
                    {% endfor  %}
    
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Telefonos </strong>

                <p class="text-muted"> Telefono : {{ datos.telefono }} Whatsap : {{ datos.whatsapp }} </p> <br>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- aca inicio -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Nosotros</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Productos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Servicios</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                         <b><span  style="color:blue">  Bienvenidos </span></b>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        {{ datos.mensaje }}
                      </p>
                    </div>
                    <div class="post clearfix">
                    <div class="user-block">
                            <b><span  style="color:blue">  Mision </span></b>
                         </div>
                      <!-- /.user-block -->
                      <p>
                        {{ datos.mision }}
                      </p>
                    </div>
                    <!-- /.post -->
                    <div class="post clearfix">
                        <div class="user-block">
                                <b><span  style="color:blue">  Vision </span></b>
                             </div>
                          <!-- /.user-block -->
                          <p>
                            {{ datos.vision }}
                          </p>
                        </div>
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        {% if datos.logo %}
                        <img class="img-circle img-bordered-sm"  src="{{ url_for('static', filename='imagenes/'+ datos.logo ) }}" alt="User Image">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="User Image" class="img-circle img-bordered-sm">
                        {% endif %}
                        <span class="username">
                          <a href="#">{{ datos.nombre }}</a>
                        </span>
                        <span class="description">Nuestro Local</span>
                      </div>
                      <!-- /.user-block -->
                      <div class="row mb-3">
                        <div class="col-sm-8">
                        {% if datos.imagen %}
                        <img class="img-fluid"  src="{{ url_for('static', filename='imagenes/'+ datos.imagen ) }}" alt="Photo">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="Photo" class="img-fluid">
                        {% endif %}
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <div class="col-3">
                      <input type="text" id="search" placeholder="Busqueda">
                      <i class="fas fa-search"></i>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id="table" >
                      <thead>
                        <tr>
                          <th>Codigo Producto</th>
                          <th>Nombre </th>
                          <th>Descripcion</th>    
                          <th>Precio</th>             
                          <th>Stock</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for producto in productos %}
                       <tr>
                           <td> PRD0{{ producto.idProducto }} </td>
                           <td> {{ producto.nombre }} </td>
                           <td> {{producto.descripcion}} </td>
                           <td> {{producto.precio }} </td>
                           <td> {{producto.stock }} </td>         
                       </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  </div>  
                    <!-- The timeline -->
          
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="settings">
                    <div class="col-3">
                      <input type="text" id="search2" placeholder="Busqueda">
                      <i class="fas fa-search"></i>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id="table2" >
                      <thead>
                        <tr>
                          <th>Codigo Servicio</th>
                          <th>Nombre </th>
                          <th>Detalles</th>    
                          <th>Precio</th>             
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for servicio in servicios %}
                       <tr>
                           <td> SRV0{{ servicio.idServicio }} </td>
                           <td> {{ servicio.nombre }} </td>
                           <td> {{servicio.detalles}} </td>
                           <td> {{servicio.precio }} </td>     
                       </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  </div>
                  <!-- /.tab-pane -->
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- aca termino-->
        </div>
       
    </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
var $rows = $('#table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});


var $rows2 = $('#table2 tr');
$('#search2').keyup(function() {
    var val2 = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows2.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val2);
    }).hide();
});


</script>

{% endblock %}

