{% extends 'app/anon_template.html' %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Veterinaria : {{datos.nombre}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/login_usuario">Iniciar Sesion</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  {% if datos.logo %}
                  <img class="profile-user-img img-fluid img-circle" src="{{ url_for('static', filename='imagenes/'+ datos.logo ) }}" alt="User profile picture">
                  {% else %}
                  <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="user-avatar" class="img-circle img-fluid">
                  {% endif %}
                </div>

                <h3 class="profile-username text-center"> {{ datos.nombre }} </h3>

                <p class="text-muted text-center">Clinica Veterinaria</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Productos</b> <a class="float-right">Si</a>
                  </li>
                  <li class="list-group-item">
                    <b>Servicios</b> <a class="float-right">Si</a>
                  </li>
                  <li class="list-group-item">
                    <b>Ventas</b> <a class="float-right">Si</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Facebook</b></a>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Nosotros</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Direccion </strong>

                <p class="text-muted">
                  {{ datos.direccion }}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Ciudad </strong>

                <p class="text-muted">{{ datos.ciudad }} , {{ datos.distrito }}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Colaboradores </strong>

                <p class="text-muted">
                    {% for empleado in empleados %}
                  <span class="tag tag-danger"> {{empleado.nombre}} </span> <br>
                    {% endfor  %}
    
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Telefonos </strong>

                <p class="text-muted"> Telefono : {{ datos.telefono }} Whatsap : {{ datos.whatsapp }} </p> <br>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- aca inicio -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Nosotros</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Productos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Servicios</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                         <b><span  style="color:blue">  Bienvenidos </span></b>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        {{ datos.mensaje }}
                      </p>
                    </div>
                    <div class="post clearfix">
                    <div class="user-block">
                            <b><span  style="color:blue">  Mision </span></b>
                         </div>
                      <!-- /.user-block -->
                      <p>
                        {{ datos.mision }}
                      </p>
                    </div>
                    <!-- /.post -->
                    <div class="post clearfix">
                        <div class="user-block">
                                <b><span  style="color:blue">  Vision </span></b>
                             </div>
                          <!-- /.user-block -->
                          <p>
                            {{ datos.vision }}
                          </p>
                        </div>
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        {% if datos.logo %}
                        <img class="img-circle img-bordered-sm"  src="{{ url_for('static', filename='imagenes/'+ datos.logo ) }}" alt="User Image">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="User Image" class="img-circle img-bordered-sm">
                        {% endif %}
                        <span class="username">
                          <a href="#">{{ datos.nombre }}</a>
                        </span>
                        <span class="description">Nuestro Local</span>
                      </div>
                      <!-- /.user-block -->
                      <div class="row mb-3">
                        <div class="col-sm-8">
                        {% if datos.imagen %}
                        <img class="img-fluid"  src="{{ url_for('static', filename='imagenes/'+ datos.imagen ) }}" alt="Photo">
                        {% else %}
                        <img src="{{ url_for('static', filename='imagenes/default.jpg' ) }} " alt="Photo" class="img-fluid">
                        {% endif %}
                        </div>
                        <!-- /.col -->

                        <!-- /.col -->
                      </div>
                      <!-- /.row -->


                      <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-envelope bg-primary"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          3 Jan. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                          <div class="timeline-body">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                            <img src="https://placehold.it/150x100" alt="...">
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- aca termino-->
        </div>
           
    </section>
</div>


{% endblock %}